* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    border: 2px solid grey;
    min-width: 500px;
}
.monitor {
    color: white;
    background-color: black;
    padding: 1rem;
    text-align: right;
    font-size: 2rem;
}
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'clear clear backspace divide'
        'n7 n8 n9 multiply'
        'n4 n5 n6 minus'
        'n1 n2 n3 plus'
        'n0 n0 n0 sum';

    background-color: black;
    margin: 0;
    padding: 0;

    gap: 10px;
}
.clear {
    grid-area: clear;
}
.backspace {
    grid-area: backspace;
}
.divide {
    grid-area: divide;
}
.n7 {
    grid-area: n7;
}
.n8 {
    grid-area: n8;
}
.n9 {
    grid-area: n9;
}
.multiply {
    grid-area: multiply;
}
.n4 {
    grid-area: n4;
}
.n5 {
    grid-area: n5;
}
.n6 {
    grid-area: n6;
}
.minus {
    grid-area: minus;
}
.n1 {
    grid-area: n1;
}
.n2 {
    grid-area: n2;
}
.n3 {
    grid-area: n3;
}
.plus {
    grid-area: plus;
}
.n0 {
    grid-area: n0;
}
.sum {
    grid-area: sum;
}
ul > li {
    color: black;
    background-color: #d8d9db;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;

    &:hover {
        background-color: #ebebeb;
    }
}
.operator-color {
    color: white;
    background-color: #df974c;

    &:hover {
        background-color: #dfb07e;
    }
}
