* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* logo */
header {
    background-color: #43281c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header > img {
    width: 35px;
    height: auto;
    margin-right: 0.4rem;
}
header > h1 {
    color: #fbf2c0;
    font-size: 1.5rem;
}

/* checkout grid */
.checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    grid-template-areas: 'checkout--items-list checkout--inputs-grid-area';
    padding: 1.5rem;
}

@media only screen and (max-device-width: 768px) {
    .checkout {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        grid-template-areas:
            'checkout--items-list'
            'checkout--inputs-grid-area';
        padding: 1rem;
    }
}

.checkout--items-list {
    grid-area: checkout--items-list;
}

.box {
    background-color: #eee1d5;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 0.2);
}

.checkout--inputs-grid-area {
    grid-area: checkout--inputs-grid-area;
}

.checkout ul {
    padding: 0;
    list-style: none;
}

/* main sections */

h2 {
    color: #8e6136;
    margin: 0;
    font-size: 1.05rem;
    margin-bottom: 1.75rem;
    font-weight: 500;
}

/* items list */
.checkout--items-list {
    height: fit-content;
}
.checkout--items-list > ul {
    list-style: none;
}
.checkout--items-list > ul > li {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

    &:not(:last-child) {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #e1cbb4;
    }
}
.item--title {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}

.description-list > li {
    color: #ab8666;

    &:first-child {
        margin-top: 0.25rem;
    }
}

.checkout--name-input {
    margin-bottom: 1.5rem;
}

/* input with label on boder */
.input-with-border-label {
    position: relative;

    &:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }
}
.input-with-border-label > label {
    color: #885a2d;
    position: absolute;
    top: -12px;
    left: 30px;
    background-color: #eee1d5;
    padding: 0 5px;
}
.input-with-border-label > input {
    border: 2px #885a2d solid;
    border-radius: 25px;
    background: none;
    font-size: 0.9rem;
    padding: 0.75rem;
    width: 100%;
}

.checkout--totals {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 1.5rem 0;
}
.checkout--totals > table {
    margin: 0 auto 1rem auto;
    display: grid;
    grid-template-columns: minmax(min-content, 400px);
}
.checkout--totals tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:last-child {
        font-weight: bold;
        margin-top: 0.75rem;
    }

    &:not(:first-child) {
        margin-top: 0.5rem;
    }
}
.checkout--totals td:last-child {
    text-align: right;
}

.btn-checkout {
    background-color: #deb993;
    padding: 1rem;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
}
